:root {
  --background-color: #181824;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

label {
  > b {
    text-decoration: solid;
    text-decoration-color: #b600a7;

    &:first-of-type {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
      text-decoration-color: #b600a7;
    }

    &:last-of-type {
      text-decoration-line: line-through;
    }
  }
}
